// Import page-specific CSS files here.
@import "home";

#map{
  height: 100vh;
  top: 0;
  width: 98vh;
  position: sticky;
  margin-left: 0px;
}

.card-img
{
  background-size: cover;
  padding-left: 2px;

}

.btn {
  margin-bottom: 0px;
}
