// Import page-specific CSS files here.
@import "home";
@import "owner_index";
@import "rentals_index";
@import "bikes_show";


#map{
  height: 96vh;
  top: 0;
  width: 80vw;
  position: sticky;
  margin-left: 10px;
  border-radius: 10px;
}

.card-img
{
  background-size: cover;
  padding: 1rem;
}

.btn {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  opacity: 0.8;
}

.card {
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.bike-title {
  color: #A3A3A3;
}
