.container {
  background-color: #EEEEEE;
  margin-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.card-rental{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 10px;
  align-items: center;
  margin-right: 15px;
}

.card-img img {

 height: 250px;
 width: 250px;
 padding-bottom: 4px;
 background-size: cover;
}

.title {
  color: #A3A3A3;
  margin-top: 10px;
  font-weight: bolder;
}

.bike-title {
  color: #A3A3A3;
  font-weight: bolder;
}

