
.container {
  background-color: #EEEEEE;
  margin-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
}
.parent fa-map-marker-alt{
  color:#7DC2A5;
}
.card {
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.title {
  color: #A3A3A3;
  margin-top: 10px;
  font-weight: bolder;
}

.card-img {
width: 100%;
}

.bike-title {
  color: #A3A3A3;
  font-weight: bolder;
}

.card-rental {
  margin-right: 10px;
}
