<div class="footer m-0">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    Finally, a great bike rental experience between individuals.
    Say goodbye to dishonest rental
    compagnies and troubles !
  </div>
</div>
