<!--_navbar -->

@import "_navbar.";

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(bicycles.jpg);">
  <div class="container">
    <p>Do you want to ride over the towns or countryside?</p>
    <a class="btn btn-flat" href="/users/sign_up">Riiiide !!!</a>
    <a class="btn btn-flat" href="/bikes">View our bikes</a>
  </div>
</div>
