<!--_navbar -->

<div class="container">
  <div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path "homepage/test2"%>);">

      <h1 class="text-center">Do you want to join us for a ride ?</h1>
      <a class="btn btn-success rounded px-5 text-white mt-3" href="/bikes">View all our bikes</a><br>
      <a class="btn btn-secondary center-button px-5 text-white mt-3" href="/users/sign_up">Sign Up</a>

  </div>
</div>
