<h3 class="bike-name"><strong><%= bike.bike_name %></strong></h3>
<h5><strong><%= bike.daily_price %>€</strong> / day</h5>
<%= cl_image_tag bike.photo.key, class:"card-img" %>
<%= link_to 'Read more', bike_path(bike.id), class: "btn btn-success" %>
