<h2><%= bike.bike_name %></h2>
<p><%= bike.location %></p>
<%= cl_image_tag bike.photo.key, class:"card-img p-1 pB-0" %>
<%= link_to 'Read more', bike_path(bike.id), class: "btn btn-primary btn-sm" %>
