.link-add-bike:hover {
  color: rgb(0, 0, 0) !important;
  text-decoration: underline !important;
}
.link-login {
  color: black;
  text-decoration: none;
}
.link-login:hover {
  color: #FB8F67;
  text-decoration: underline;
}
.link-signup {
  color: black;
  text-decoration: none;
}
.link-signup:hover {
  color: #FB8F67;
  text-decoration: underline;
}
