.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

#navbar-title {
  color: #FB8F67;
  text-align: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
